[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "ios-cmake"]
	path = ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "sample_xcode_project"]
	path = sample_xcode_project
	url = https://github.com/haoming37/googletest_ipa.git
